@import './mixins/mixins.scss';
$typemap: (
  primary: $--link-primary-font-color,
  success: $--link-success-font-color,
  danger: $--link-danger-font-color,
  warning: $--link-warning-font-color,
  info: $--link-info-font-color,  
);

@include b(link){
  position: relative;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  padding: 0;
  font-size: 14px;
  font-weight: 500;
  &:hover{
    color: #409eff;
  }

  [class*= el-icon-] + span {
    margin-left: 10px;
  }

  @include when(underline){
    &:hover:after{
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      border-bottom: 1px solid #409eff;
    }
  }

  @include when(disabled){
      cursor: not-allowed;
      color: #c0c4cc;
      // &:hover::after{
      //   display: none;
      // }
  }

  @each $type, $color in $typemap {
    @include m($type){
      color: $color;
      &:hover{
        color: mix($--color-white, $color, 20%);
      }
      @include when(underline){
        &:hover::after{
          border-color: $color;
        }
      }
      @include when(disabled){
        color: mix($--color-white, $color, 50%);
      }
    }
    
  }
  
}