@mixin utils-clearfix {
  $selector: &;

  @at-root {

    #{$selector}::after,
    #{$selector}::before {
      content: '';
      display: block;
    }

    #{$selector}::after {
      clear: both;
    }
  }
}

@mixin utils-user-select($val) {
  user-select        : $val;
  -moz-user-select   : $val;
  -webkit-user-select: $val;
  -ms-user-select    : $val;
}